<h3>Links Index/Root</h3>
<div id="logout-button">
  <%= link_to "Logout", '/logout'  %>
</div>

<br><br>
<form id="links-form">
  <input type="hidden" name="user_id" value="<%= current_user.id  %>" id="user-id"><br>
  <input type="hidden" name="read" value=false id="link-read"><br>
  Title: <input type="text" name="title" id="link-title"><br>
  URL: <input type="text" name="url" id="link-url"><br><br>
  <input type="button" value="Create Link" id="create-link-button">
</form>

<br><br>

<div id="filter-name">
  Filter by Name: <input>
</div>

<br>

<div class="filters">
  <input type="button" value="Show Unread" id="show-unread">
  <input type="button" value="Show Read" id="show-read">
  <input type="button" value="Show All" id="show-all">
</div>

<br>

<div id="links-list">
  <% @links.each do |link| %>
    <%= render partial: 'link-show', locals: {link: link} %>
  <% end %>
</div>
